# Django Secret Key (Nova chave gerada para você)
SECRET_KEY=SECRET_KEY

# Configurações de Debug (True para desenvolvimento local)
DEBUG=True

# Hosts permitidos
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0