# Exemplo de arquivo de configuração .env
# Renomeie este arquivo para .env e preencha os valores abaixo

# Django Secret Key (Gere uma nova para produção)
SECRET_KEY=sua-chave-secreta-aqui

# Configurações de Debug (False para produção)
DEBUG=True

# Hosts permitidos (Ex: .onrender.com, seu-dominio.com)
ALLOWED_HOSTS=localhost,127.0.0.1

# Configuração do Banco de Dados (Opcional para SQLite)
# DATABASE_URL=postgres://usuario:senha@host:porta/banco
